{% extends 'main/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">Tady budou produkty:</h2>
    
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
       
        <div class="col">
            <div class="card h-100">
                <img src="https://www.pazitka.cz/data_2/4619normal.jpg" class="card-img-top" alt="Obrázek 1" style="max-width: 100%; max-height: 300px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Chleba</h5>
                    <p class="card-text">Je to krásný pečený chléb.</p>
                    <a href="#" class="btn btn-primary">Více info</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="http://www.primapekarna.cz/Public/Images/Article/stredni-rohlik_01.png" class="card-img-top" alt="Obrázek 2" style="max-width: 100%; max-height: 300px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Rohlík</h5>
                    <p class="card-text">Rohlík jako od maminky.</p>
                    <a href="#" class="btn btn-primary">Více info</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="https://static.albert.cz/medias/sys_master/h71/h42/9036895780894.jpg?buildNumber=cafcc9390aeed60abc54bb7e436ae2f97ce17d3e1e91a21083a22fa74cae3bab&imwidth=320" class="card-img-top" alt="Obrázek 3" style="max-width: 100%; max-height: 300px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Houska</h5>
                    <p class="card-text">Houska je ten nejlepší typ pečiva.</p>
                    <a href="#" class="btn btn-primary">Více info</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
